//= require semantic-ui/semantic
//@import "bootstrap-sprockets";
//@import "bootstrap";

html {
  font-size: 14px;
}

body {
  .container {
    position: relative;
    width: 915px;
    margin: 0px auto;
  }
}

.top-divider {
  margin-bottom: -1px !important;
}

.bottom-divider {
  margin-top: 0px !important;
}

@import "site/header";
@import "site/top_menu";
@import "site/footer";

@import "site/page";
@import "site/catalog";
@import "site/product";


